:root {
    --text-color: #1e1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
    --secondbackground-color: #f7e1d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondbackground-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 59px;
    height: 80px;
    align-items: center;
}

nav .left a{
    color: rgb(110, 6, 62);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 50px;
    font-family: 'Fredericka the Great', serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(110, 6, 62);
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    width: 350 px;
    border-radius: 50%;
}

/* SECTION 2: Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 42px;
    font-family: 'Fredericka the Great', serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(110, 6, 62);
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

/* SECTION 3: Contact */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
    font-family: 'Fredericka the Great', serif;
    font-weight: 400;
    font-style: normal;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--link-color);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: var(--link-color);
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
}

.contact-section .group form button:hover {
  filter: brightness(.9);
}


@media (max-width: 850px) {
  /* SECTION 1: Hero */
  .hero-section .text h2 {
    font-size: 35px;
  }
}

/* SECTION 4: Projects */
.projects-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.projects-section h2 {
  text-align: center;
  font-size: 42px;
  font-family: 'Fredericka the Great', serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(110, 6, 62);
}

.projects-section h3 {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-family: "Noto Serif", serif;
  color: rgb(110, 6, 62);
}

.projects-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.projects-section .project-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projects-section .project-group .project-image {
  justify-content: space-between;
}

.projects-section .project-group .project-image img {
  margin-top: 20px;
  margin-bottom: 40px
}

@media (max-width: 740px) {
  /* SECTION 1: Hero */
  .hero-section {
    flex-direction: column-reverse;
  }
}

  .hero-section .headshot img {
    width: 300px;
  }

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }
}

nav .right a {
    font-size: 22px;
}

nav .right a:last-child{
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
}

nav .right a span {
    display: none;
}

  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  /* SECTION 3: Contact */
  .contact-section {
    padding: 0 20px;
  }

  /* SECTION 4: Projects */
    .projects-section {
      padding: 0 20px;
    }