:root {
    --text-color: #1e1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 59px;
    height: 80px;
    align-items: center;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
    font-family: 'Fredericka the Great', serif;
    font-weight: 400;
    font-style: normal;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
}

.hero-section .headshot {
    flex: 2;
}

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }
}

nav .right a {
    font-size: 22px;
}

nav .right a:last-child{
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
}

nav .right a span {
    display: none
}